.iocsh_history
~*
*~
.vscode/
*.swp
O.*
bin/
lib/
include/
db/
dbd/
*.sav*
envPaths
dllPath.bat
autorun.cmd
venv/
.ruff_cache/
*.o
*.a
*.so
a.out
# pixi environments
.pixi/*
!.pixi/config.toml
*.local
notes.txt
checkVar.sh
setVar.sh
