name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@8ca4608ef7f4daeb54f5205b20d0b7cb42f11143  # v0.8.14
        with:
          pixi-version: v0.56.0
          cache: false
          frozen: true

      - name: Run Linting Checks
        run: pixi run lint

  build-and-test:
    name: Build ADXSPD Driver and Unit Tests
    needs: lint
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nsls2/epics-alma9:latest
      options: --user root

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Create CONFIG_SITE.local
        run: |
          cat > configure/CONFIG_SITE.local << EOF
          # CONFIG_SITE.local for GitHub Actions CI
          CHECK_RELEASE=NO
          BUILD_IOCS=YES
          BUILD_TESTS=YES
          WITH_BOOST=NO
          BOOST_EXTERNAL=YES
          WITH_PVA=YES
          WITH_QSRV=YES
          WITH_BLOSC=YES
          BLOSC_EXTERNAL=NO
          WITH_BITSHUFFLE=YES
          BITSHUFFLE_EXTERNAL=NO
          WITH_GRAPHICSMAGICK=YES
          GRAPHICSMAGICK_EXTERNAL=NO
          GRAPHICSMAGICK_PREFIX_SYMBOLS=YES
          WITH_HDF5=YES
          HDF5_EXTERNAL=NO
          WITH_JSON=YES
          WITH_JPEG=YES
          JPEG_EXTERNAL=NO
          WITH_NETCDF=YES
          NETCDF_EXTERNAL=NO
          WITH_NEXUS=YES
          NEXUS_EXTERNAL=NO
          WITH_OPENCV=NO
          OPENCV_EXTERNAL=YES
          WITH_OPENCV_VIDEO=YES
          WITH_SZIP=YES
          SZIP_EXTERNAL=NO
          WITH_TIFF=YES
          TIFF_EXTERNAL=NO
          XML2_EXTERNAL=NO
          WITH_ZLIB=YES
          ZLIB_EXTERNAL=NO
          EOF

          echo "CONFIG_SITE.local created:"
          cat configure/CONFIG_SITE.local

      - name: Create RELEASE.local
        run: |
          cat > configure/RELEASE.local << EOF
          # RELEASE.local for GitHub Actions CI
          ADSUPPORT=/usr/lib64/epics
          ADCORE=/usr/lib64/epics
          ASYN=/usr/lib64/epics
          AUTOSAVE=/usr/lib64/epics
          BUSY=/usr/lib64/epics
          CALC=/usr/lib64/epics
          DEVIOCSTATS=/usr/lib64/epics
          SSCAN=/usr/lib64/epics
          STREAM=/usr/lib64/epics
          SNCSEQ=/usr/lib64/epics
          RECCASTER=/usr/lib64/epics
          MOTOR=/usr/lib64/epics

          # EPICS_BASE should always be last
          EPICS_BASE=/usr/lib64/epics

          EOF

          echo "RELEASE.local created:"
          cat configure/RELEASE.local

      - name: Build ADXSPD Driver and Unit Tests
        run: |
          make -j$(nproc)

      - name: Run Unit Tests
        run: |
          ./bin/linux-x86_64/TestADXSPD
